{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'contact_us.css'%}">
<body>
    <!-- Thoriq As -->
    <!-- Main Content Start -->
        <div class="col-md-12 mt-5">
            <p style="display: flex; justify-content: center; color: #fff;">
              Добро пожаловать на Gadgets.kg!

              Интернет магазин www.gadgets.kg начал действовать 30 декабря 2022 года. Основными мотивами создания магазина стало отсутствие возможности приобрести широкий ассортимент проверенных надежных товаров в одном месте,  неоправданно высокие розничные цены из за отсутствие оптимизации товара конечному покупателю, а также низкий уровень сервиса на рынке. Таким образом, миссией www.gadgets.kg является: предоставить широкий ассортимент товаров по лучшей цене и при этом обслуживание превзошло ожидания наших клиентов. Gadgets.kg предлагает на сегодняшний день около 1000 наименований продукции и услуг.
              
              Интернет магазин gadgets.kg сегодня – это Ваш центр покупок, где Вы можете приобрести более широкий ассортимент качественных товаров и услуг. Здесь Вы можете быть уверены, что получите товар самого оптимизированного по цене и в качестве. Мы сокращаем до минимума ваши расходы времени и денег. В тоже время, мы предлагаем Вам больше обзоров товаров, рецензий, а также информации о товарах, чтобы Вы были уверены, что принимаете наилучшее решение на основе полной информации. При этом, значительную роль играют отзывы и оценки самих покупателей. Вы также можете оформить и получить свой заказ в нашем офисе, находящимся в самом центре города Бишкек, в торговом центре  Весна (Рахат Палас).
              
              
              Интернет магазин gadgets.kg постоянно улучшается и привносит инновации в свою деятельность, чтобы улучшить опыт покупки в магазине до невиданных горизонтов. Клиенты, однажды посещавшие сайт в начале деятельности и сегодня, удивляются разительным улучшениям и скорости изменений нашего Интернет магазина. Мы благодарны всем клиентам, которые прошли трудные моменты развития предприятия и с пониманием относились к сложностям и, казалось бы, непреодолимым барьерам, возникавшим на пути развития gadgets.kg.
              
              Сегодня, gadgets.kg – это полнофункциональный Интернет магазин, где Вы можете купить: сотовые телефоны и коммуникаторы стандартов GSM, Ноутбуки, Планшеты,  компьютерные решения и комплектующие, фото и видеокамеры, бытовую технику. Мы специально можем найти для Вас необходимый Вам товар в ОАЭ и КНР
              
              При этом, вам не приходится выходить за пределы вашего офиса либо дома, когда на улице ужасно холодно либо знойно жарко. Вы оформляете заказ, указывая любое место и время доставки для Вас.
              
              Онлайн консультант всегда может Вам помочь при выборе товаров, порекомендовать из нескольких представленных на сайте, и просто решить ваши проблемы. Ведь Онлайн консультант создан специально для того, чтобы предлагать Вам решения, связанных с покупкой товаров на gadgets.kg!
              
              Мы будем рады, что Вы присоединитесь в сообщество gadgets.kg и станете его неотъемлемой частью. Ведь gadgets.kg это магазин, созданный специально, чтобы воплотить ваши желания и мечты!
            </p>
          </div>
    <!-- Main Content End -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>

{% endblock %}
