{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'caru1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'caru2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'caru3.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'caru4.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'caru5.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
<table style="background-image: -webkit-linear-gradient( top, #222023, #1e2c47 ); width: 11%; border-radius: 3%; color: #fff;">
  <thead><tr><th><h4>Категории</h4></th></tr></thead>
  {% for i in category %}
  <tbody>
  <tr>
      <td><p><a style="color: #fff;" required href="{% url 'category' i.slug %}"><h5>{{i.title}}</h5></a></p></td>
  </tr>
  </tbody>
  {% endfor %}
</table>




<div class="container" >
  {% for a in category %}
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100px;">

    <h1 style="font-size: 30px; border-radius: 11%; background-image: -webkit-linear-gradient( top, #222023, #1e2c47 ); color: #fff;">{{a.title}} </h1>
  </div>
  <div class="" style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for i in product %}
    {% if i.category == a %}
  
  <div class="card mt-5" style="width: 18rem;">
    <a href="{% url 'info' id=i.id %}">
    <img src="{{i.image.url}}" class="card-img-top" alt=""></a>
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;"> <a href="{% url 'info' id=i.id %}"> {{i.title}}</a></h5>
      <p class="card-text" style="text-align: center;">{{i.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Цена:  {{i.price}} сом</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="{% url 'add_to_cart' i.id %}"class="btn btn-dark m-3"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </div>
  
  {% endfor %}
</div>


{% endblock %}